body {
  font-family: Arial;
}

#main-heading {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 10px;
  align-items: center;
}

#btn-todo {
  color: white;
  background-color: green;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 15px 0px;
}

#todo-input, #todo-date {
  font-size: 15px;
  padding: 10px;
}

#btn-delete {
  color: white;
  background-color: brown;
  border: none;
  border-radius: 5px;
  padding: 15px 0px;
  cursor: pointer;
}